AllSppTbl_g_m2_2019.csv
AllSppTbl_g_m2_2020.csv
AllSppTbl_g_m2_2021.csv
CumTbl2019.csv
CumTbl2020.csv
CumTbl2021.csv
RefugeAverage_g_m2_2019.csv
RefugeAverage_g_m2_2020.csv
RefugeAverage_g_m2_2021.csv
SmartweedSppTbl_g_m2_2021.csv
Swamp_TimothySppTbl_g_m2_2019.csv
Swamp_TimothySppTbl_g_m2_2020.csv
Swamp_TimothySppTbl_g_m2_2021.csv
WatergrassSppTbl_g_m2_2019.csv
WatergrassSppTbl_g_m2_2020.csv
WatergrassSppTbl_g_m2_2021.csv
